.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.language-flag {
    position: relative;
    top: 7px;
    animation: fadeIn 1s;
}

.navbar { 
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 2px solid;
    margin-bottom: 10px;
}

.navbar-icons {
    font-size: 1.5rem;
    color: white;
}

.title{
    font-size: 1.8rem;
}

.red-color {
    color: red;
}

.green-color {
    color: green;
}

.blue-color {
    color: blue;
}

.light-red {
    color: #FF99A9;
}

.light-green {
    color: #92F294;
}

.light-blue {
    color: #C0F9FA;
    padding: 0;
}

#top-text {
    margin-top: 5px;
    font-size: 1.5rem;
}

.colored-box{
    background-color: white;
    border-radius: 15%;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    animation: fadeIn 1s;
}

.light-mode#colored-box{
    border-color: black;
}

.sliders-container{
    display: inline-block;
}

#guess-button{
    vertical-align: middle;
    width: 100px;
    border: 1px solid white;
}

.row{
    margin-top: 15px;
    margin-bottom: 15px;
}

.dont-display-row, .dont-display-table, .dont-display-icon, .dont-display {
    display: none;
}

.defeat-modal .victory-modal-content, .victory-modal .defeat-modal-content {
    display: none;
}

table{
    margin-top: 15px;
}

.title {
    pointer-events: none;
}

.navbar-icons {
    cursor: pointer;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in { animation: fadeIn 1s; }

.ranges-area {
    margin-top: 18px;
}

#correct-color-modal-info {
    margin-left: 6px;
}

.correct-color-square {
    margin-left: 2px;
}

.share-button-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }